/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #fff0e0;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  color: #333;
}

.product-section {
  background-color: #fff;
  padding: 3rem 3rem;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 1000px;
  text-align: center;
}

.product-header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #7B8D46; 
  margin-bottom: 1.5rem;
}

.product-description {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.product-button {
  background-color: #ED8034; 
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-button:hover {
  background-color: #F57C00;
}

.product-image {
  border-radius: 15px;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 1.5rem 0;
}

.product-section .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-content {
  max-width: 500px;
  margin: 0 auto;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translateY(-50%);
  color: #ED8034;
  padding: 1rem;
  border-radius: 0.5rem;
 font-size: 80;
}
.iphone-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f8f9fa; 
}	

.iphone-frame {
	
  width: 300px;
  height: 600px;
  background: #000;
  border-radius: 40px;
  padding: 20px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  overflow: hidden;
	
}

.iphone-frame::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background: #333;
  border-radius: 5px;
}

.iphone-screen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}